<!DOCTYPE html>
<html>
    <head>
        <title>SigmaFuzz dev - {% block title %}null{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/main.css">
        <style type="text/css">
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        <div style="height: 100px">
            <a href="/"><img id="logo" height="100" src="/static/sigmafuzz.png" style="float:left" alt=""></a>
            {% if user.is_authenticated %}
                <div class="textbox" style="max-width: auto; float:left; margin-left: 20px; padding: 3px">
                    <a href="/tasks">Tasks</a>
                </div>
                <div class="textbox" style="max-width: auto; float: right; padding: 3px;vertical-align:bottom">
                    Logged in as {{ user.username }}
                    <span style="text-align: center">
                        <form action="/logout" method="POST">
                            <input type="button" value="Logout">
                        </form>
                    </span>
                </div>
            {% endif %}
        </div>
        <div style="background-color: #A6BBC9;">
            <div id="navbar">
                <span><a href="/index">Home</a></span>
                <span><a href="/about">About</a></span>
                <span><a href="/submit">Submit</a></span>
                <span><a href="/login">Login</a></span>
            </div>
        </div>
        <br>
        {% block body %}{% endblock %}
    </body>
</html>
