<!DOCTYPE html>
<html>
    <head>
        <title>SigmaFuzz dev - {% block title %}null{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/main.css">
        <style type="text/css">
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        <div><a href="/"><img id="logo" height="100" src="/static/sigmafuzz.png" alt=""></a></div>
        <div style="background-color: #A6BBC9;">
            <div id="navbar">
                <span><a href="/index">Home</a></span>
                <span><a href="/about">About</a></span>
                <span><a href="/submit">Submit</a></span>
                <span><a href="/login">Login</a></span>
            </div>
        </div>
        <br>
        {% block body %}{% endblock %}
    </body>
</html>
