{% extends "sigmafuzz/base.html" %}
{% load webdesign %}
{% block title %}{{ submission.title }}{% endblock %}
{% block style %}
    .side{
        float: left;
        width: 225px;
        margin-right: 25px;
    }
    .right{
        overflow:hidden;
    }
    .right img{
        max-width: 100%
    }
    #infotable th,td{
        padding: 0px
    }
    #infotable th{
        text-align: left;
        padding-right: 5px;
        font-size: 0.6em;
    }
    #infotable td{
        font-size: 0.8em;
    }
    #title{
        font-size: 1.75em !important;
        font-weight: bold;
        margin-left: 12px;
    }
    .boxtitle{
        font-size: 1em !important;
        font-weight:bold;
    }
{% endblock %}

{% block body %}
<div style="min-width: 900px;">
    <div class="side">
        <div class="textbox">
            <div class="boxtitle">Info</div>
            <hr>
            <table id="infotable">
                <tr><th>Artist:</th><td>{{ submission.artist }}</td></tr>
                <tr><th>Submitter:</th><td>{{ submission.submitter }}</td></tr>
                <tr><th>Originally posted at:</th><td>{{ submission.submissionDate }}</td></tr>
                <tr><th>Submitted at:</th><td>{{ submission.indexDate }}</td></tr>
                <tr><th>Source:</th><td><a href="{{ submission.source }}">Link</a></td></tr>
            </table>
        </div>
        <br>
        <div class="textbox">
            <div class="boxtitle">Archive</div>
            <hr>
            <table id="infotable">
                <tr><th>Status: </th><td>
                    <span title="{{ submission.archiveException }}" style="color: {{ submission.archiveStatusColour }};font-weight: bold">
                        {% if submission.archiveStackTrace %}
                        <a href="/s/{{ submission.id }}/archiveErr">
                        {% endif %}
                        {{ submission.archiveStatusString }}
                        {% if submission.archiveStackTrace %}
                            </a>
                        {% endif %}
                    </span>
                </td></tr>
            </table>
        </div>
    </div>
    <div class="right">
        <div class="textbox" style="padding: 3px !important; max-width:600px; margin: initial !important;">
            <div id="title">{{ submission.title }}</div>
        </div>
        <br>
        <a href="{{ submission.source }}">
            <img src={{ submission.imagePath }} alt="">
        </a>
    </div>
    <br>
    <div style="clear: both; width: 900px;">
        <div class="textbox">
            <div class="boxtitle">Description</div>
            <hr>
            {{ submission.description }}
        </div>
    </div>
</div>
{% endblock %}
