{% extends "sigmafuzz/base.html" %}
{% block title %}Submit{% endblock %}
{% block style %}
.submitTable{
    margin: 0 auto;
}
.submitTable th{
    padding-right: 10px;
}
#id_source{
    width: 50ch;
}
#id_title{
    width: 50ch;
}
#id_imgSource{
    width: 50ch;
}

{% endblock %}
{% load webdesign %}

{% block body %}
<div class="textbox" style="max-width: 700px">
    <form action="/submit/" autocomplete="off" method="POST">
        {% csrf_token %}
        <table class="submitTable">
            {{ form }}
        </table>
        <br>
        <input type="submit" value="Submit"><input type="submit" value="Auto-fill from source" name="import">
    </form>
</div>

{% if user.is_superuser %}
<br>
<div class="textbox" style="max-width: 700px">
    <table class="submitTable">
        <tr><th>Crawl artist (FurAffinity):</th> <td><form action="." method="POST"> {% csrf_token %}
            <input type="text" name="artist" class="textInput">
            <input type="submit" value="Crawl" name="fa_crawl_artist">
        </form>
        </td></tr> 
    </table>
</div>
{% endif %}
{% endblock %}
